:root {
    --primaryColor: #252525;
    --whiteColor: #fff;
}

* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
text-decoration: none;
}

a:visited {
    color: inherit; 
}

.navbar {
    position: fixed;
    left: 12vh;
    right: 12vh;
    top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: top 0.3s;

}

#logo {
    color: var(--primaryColor);
    font-size: 30px;
    text-align: center;
}


