:root {
    --primaryColor: #8b7c7c;
    --whiteColor: #fff;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000; /* Optional: Adjust the background color */
}

a {
    text-decoration: none;
    }
    
    a:visited {
        color: inherit; 
    }


    #navbar {
        background-color: black;
        position: fixed;
        left: 0;
        right: 0;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 13vh;
        transition: top 0.3s;
    }

    #navbar::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        height: 20px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%,rgba(0,0,0,.5) 100%);
        border-bottom: 1px solid  white;
    }

    #navbar::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 20px;
        border-top: 1px solid  white;
    }

.drawTime {
    margin-top: 45vh;
    text-align: center;
}
#navbar.transition {
    border-bottom: 0px solid rgb(255, 244, 244);
    transition: all 1s;
}

.contact-button {
    z-index: 1;
    position: fixed;
    top: 6.5vh;
    right: 15vh;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(104, 26, 26);
    box-shadow: 0 0 25px rgb(121, 32, 10);
}

.contact-button:hover {
    box-shadow: 0 0 5px rgb(117, 24, 12),
                0 0 25px rgb(54, 19, 10),
                0 0 50px rgb(119, 84, 82),
                0 0 100px rgb(66, 26, 23);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #611b1b;
    padding: 20px;
    box-shadow: 0 0 40px rgba(161, 159, 159, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    z-index: 1;
}

.modal-content {
    width: 20vw;
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-content label {
    width: 100%; 
    text-align: center;
    margin: 5px 0; 
}

.modal-content input, .modal-content textarea {
    width: 80%; 
    padding: 8px 8px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.modal-content button {
    width: 50%; 
    padding: 10px;
    margin-top: 10px; 
    border: none;
    background-color: #8b7c7c;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.modal-content button:hover {
    box-shadow: 0 0 5px rgb(199, 187, 186),
    0 0 25px rgb(78, 77, 77),
    0 0 50px rgb(253, 253, 253),
    0 0 100px rgb(153, 123, 120);
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


#logo {
    color: var(--primaryColor);
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo.fixed {
    position: fixed;
    top: -7.5vh; 
    left: 50%;
    transform: translateX(-50%);
}

.storyTime {
    position: absolute;
    top: 110%;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    grid-gap: 50vh;
}

.img-responsive{
    border-radius: 30px;
}

.article-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primaryColor);
}

.hidden:nth-child(1){
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 2s;
}

.hidden:nth-child(2){
opacity: 0;
filter: blur(5px);
transform: translateX(100%);
transition: all 2s;
}

.hidden:nth-child(3){
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 2s;
}

.hidden:nth-child(4){
opacity: 0;
filter: blur(5px);
transform: translateX(100%);
transition: all 2s;
}

.show:nth-child(1){
filter: blur(0);
transform: translateX(75%);
opacity: 1;
z-index: -1;
}


.show:nth-child(2){
filter: blur(0);
transform: translateX(-95%);
opacity: 1;
z-index: -1;
}

.show:nth-child(3){
filter: blur(0);
transform: translateX(85%);
opacity: 1;
z-index: -1;
}

.show:nth-child(4){
filter: blur(0);
transform: translateX(-85%);
opacity: 1;
z-index: -1;
}

.footer { 
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
    margin-bottom: 1vh;
    border-top: 1px solid rgb(255, 244, 244);
    border-bottom: 1px solid rgb(255, 244, 244);
    color: white;
}